body {
    background-color: $bg-color;
    color: $font-color;
    padding: 5%;
    border: #fff 1rem solid;
}

h1 {
    font-family: 'Romanesco';
    text-align: center;
    font-size: $font-large;
    border: white 3px solid;
}


h2 {
    font-family: 'Romanesco';
    font-size: $font-medium;
}

p {
    font-family: 'Gideon Roman';
    font-weight: 700;
}

span {
    font-family: 'Gideon Roman';
}


.price {
    font-weight: 400;
}